*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 13px;
  --color-text: #fff;
  --color-bg: #000;
  --color-link: rgba(255, 255, 255, 0.5);
  --color-link-hover: #f8c5dc;
  --color-bg-slide: #171719;
}

body {
  margin: 0;
  --color-text: #f6f1f1;
  --color-bg: #0f0e0e;
  --color-link: #e9aa31;
  --color-text-alt: #999797;
  --color-link-hover: #fff;
  --cursor-stroke: #e9aa31;
  --cursor-fill: transparent;
  --cursor-stroke-width: 1px;
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: ivymode, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Page Loader */
.js .loading::before,
.js .loading::after {
  content: "";
  position: fixed;
  z-index: 1000;
}

.js .loading::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-bg);
}

.js .loading::after {
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  border-radius: 50%;
  opacity: 0.4;
  background: var(--color-link);
  animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
  to {
    opacity: 1;
    transform: scale3d(0.5, 0.5, 1);
  }
}

a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
  cursor: pointer;
}

a:hover {
  color: var(--color-link-hover);
  outline: none;
}

/* Better focus styles from https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus {
  /* Provide a fallback style for browsers
	 that don't support :focus-visible */
  outline: none;
  background: lightgrey;
}

a:focus:not(:focus-visible) {
  /* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible */
  background: transparent;
}

a:focus-visible {
  /* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
  outline: 2px solid red;
  background: transparent;
}

.unbutton {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  color: var(--color-link);
}

.unbutton:focus {
  outline: none;
}

.frame {
  padding: 2.5rem;
  display: grid;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 100;
  pointer-events: none;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto 1fr;
  grid-gap: 1rem;
  grid-template-areas: "title title" "nav nav" "info info";
}

.frame a {
  pointer-events: auto;
}

.frame__info {
  opacity: 0;
  grid-area: info;
  place-self: center;
  align-self: end;
  pointer-events: none;
  font-family: obviously;
}

.frame__info--show {
  opacity: 1;
  pointer-events: auto;
}

.frame__title {
  grid-area: title;
  place-self: end;
  align-items: flex-end;
  flex-direction: column;
  display: flex;
  font-family: obviously;
}

.frame__title-main {
  font-size: 1rem;
  margin: 0 0 0 1rem;
  font-weight: normal;
}

.frame__title-back {
  position: relative;
  display: flex;
  align-items: flex-end;
  margin-bottom: 0.15rem;
}

.frame__title-back span {
  transform: rotate(-45deg);
  font-size: 1.25rem;
  line-height: 1;
}

.frame__nav {
  grid-area: nav;
  display: grid;
  grid-auto-flow: row;
  place-items: start;
  align-content: end;
  grid-gap: 0.5rem;
}

.frame__nav-button {
  position: relative;
  transition: color 0.3s;
  pointer-events: auto;
  letter-spacing: 1px;
}

.frame__nav-button:not(.frame__nav-button--current):hover {
  color: var(--color-link-hover);
}

.frame__nav-button--current {
  color: var(--color-text);
}

.frame__nav-button::before {
  content: "";
  width: 2.5rem;
  height: 1px;
  top: 50%;
  background-color: currentColor;
  position: absolute;
  right: calc(100% + 4px);
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform 0.8s ease-in-out;
}

.frame__nav-button--current::before {
  transform: scaleX(1);
}

.frame__back {
  grid-area: back;
  justify-self: start;
  opacity: 0;
  pointer-events: none;
  text-transform: uppercase;
}

.frame__back--show {
  opacity: 1;
  pointer-events: auto;
}

.slides {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 7rem;
  min-height: 700px;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
}

.slide {
  align-items: center;
  display: flex;
  grid-area: 1 / 1 / 2 / 2;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
  height: 100%;
}

.slide--current {
  opacity: 1;
  pointer-events: auto;
}

.slide__title {
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 15vw;
  font-size: 8rem;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.slide__title-inner {
  display: block;
  position: relative;
  overflow: hidden;
  display: flex;
}

.slide__title-inner span {
  position: relative;
}

.slide__title-inner--middle {
  font-size: 2.5rem;
  display: block;
  font-weight: 300;
  text-transform: none;
  line-height: 80px;
}

.slide__inner {
  min-width: 790px;
  width: 100%;
  height: calc(100% - 6rem);
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  align-self: center;
  transform: rotate(-22.5deg);
  transform-origin: 50% 50%;
}

.slide__img-wrap {
  min-width: 790px;
  width: 100%;
  height: calc(100% - 6rem);
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  align-self: center;
  transform: rotate(-22.5deg);
  transform-origin: 50% 50%;
}

.slide__img {
  opacity: 0.4;
  flex: none;
  height: calc(50% - 1.5rem);
  display: block;
  background-size: cover;
  background-position: 50% 50%;
  pointer-events: none;
  user-select: none;
}

.slide__img--1,
.slide__img--4 {
  height: calc(50% + 3rem);
}

.slide__img--1,
.slide__img--3 {
  margin-right: 1.5rem;
}

.slide__img--1,
.slide__img--2 {
  margin-bottom: 1.5rem;
}

.slide__img--2 {
  align-self: flex-end;
}

.slide__img--3 {
  align-self: flex-start;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.slide__img-inner {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  will-change: transform;
}

.slide__content {
  display: flex;
  background: var(--color-bg-slide);
  justify-content: center;
  padding: 5rem;
  position: fixed;
  height: 100vh;
  width: 100vw;
  transform: translateY(-100%);
  z-index: 2;
  overflow: scroll;
}

.slide__content-inner {
  height: 100%;
  width: 50%;
}

.slide__content-rating {
  font-family: obviously;
}

.slide__content-rating-site {
  color: var(--color-link);
  font-family: initial;
  font-size: 16px;
  margin-right: 10px;
}

.slide__content-img {
  height: 300px;
  width: 220px;
  background-size: cover;
  background-position: 50% 50%;
  will-change: transform;
}

.slide__content h2 {
  font-weight: 200;
  margin-bottom: 0px;
  font-size: clamp(3rem, 2vw, 3rem);
  text-transform: none;
  line-height: 1;
}

.slide__content h3 {
  margin: 3rem 0 1.5rem 0;
  line-height: 1;
}

.slide__content h4 {
  margin: 0;
}

.slide__content p {
  font-family: obviously;
  line-height: 1.5;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 1);
}

.slide__content quote {
  font-family: obviously;
  display: block;
  margin-bottom: 20px;
  padding-left: 10px;
  border-left: 4px solid gray;
}

.slide__content quote:last-child {
  padding-bottom: 5rem;
  border: none;
}

.cursor {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

@media screen and (min-width: 53em) {
  .frame {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "back ... title" "nav info ...";
    align-content: space-between;
  }
  .frame__menu {
    justify-self: end;
    align-self: start;
    grid-area: menu;
    display: inline-block;
  }
  .frame__social {
    grid-area: social;
  }
  .frame__credits {
    margin: 0;
    justify-self: center;
    grid-area: credits;
  }
  .frame__sponsor {
    justify-self: end;
    grid-area: sponsor;
    display: inline-block;
  }
  .frame__links {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
  }
  .frame__links a {
    margin: 0;
  }
  .frame__demos {
    margin: 3rem 0 0 0;
  }
  .frame__demos a {
    margin: 0 0.5rem 0 0;
  }
  .frame button,
  .frame a {
    pointer-events: auto;
  }
  .slides {
    padding: 0;
  }
}

@media (any-pointer: fine) {
  .cursor {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    pointer-events: none;
    letter-spacing: 1px;
    /* mix-blend-mode: color-burn; */
  }
  .cursor__inner {
    fill: var(--cursor-fill);
    stroke: var(--cursor-stroke);
    stroke-width: var(--cursor-stroke-width);
    opacity: 0.7;
  }
  .credits {
    padding-left: 25vw;
  }
}
